.profile-songs {
  display: flex;
  overflow: hidden;
  overflow-y: scroll;
  height: 100vh;
  padding-top: 73px;
}

img.profileImg {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: auto;
}

.profile {
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
}

.profileTxt {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin-left: 10%;
  margin-top: 10%;
}

.songContainer {
  padding-top: 20px;
  max-height: 30%;
  border-radius: 5px solid var(--clr-border);
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.song-title-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eachSong {
  min-width: 600px;
  width: 100%;
  border: 5px transparent;
  padding: 20px;
  /* margin-top: 15px; */
  margin: 20px auto 20px auto;
  background-color: var(--clr-three);
  border-radius: 20px;
}

.username {
  font-weight: bolder;
  font-size: x-large;
  margin: auto;
  text-align: center;
}

.button-profile {
  border-radius: 10px;
  border-color: var(--clr-primary);
  margin-left: 20px;
  background-color: var(--clr-primary);
}

.button-profile:hover {
  border-color: var(--clr-secondary);
  background-color: var(--clr-secondary);
}

.songname {
  margin-right: 20px;
}

.audio-player-profile {
  display: flex;
  width: 60%;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}