.profile-songs {
  display: flex;
  justify-content: space-between;
}

img.profileImg {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}
.profile {
  padding-left: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profileTxt {
  display: flex;
  flex-direction: column;
  max-width: 60%;
margin-left: 140px;
margin-top: 20px;
}
.songContainer {
max-height: 30%;
border-radius: 5px solid var(--clr-border);
}
.songItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
  margin-right: 500px;
}
.song-title-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.eachSong {
  min-width: 900px;
  max-width: 900px;
  border: 5px transparent;
  padding: 20px;
  margin: 20px;
  background-color: var(--clr-three);
  border-radius: 20px;
}
.username {
  font-weight: bolder;
  font-size: xx-large;
  padding-left: 30%;
  margin-bottom: 20px;
}
.button-profile {
  border-radius: 10px;
  border-color: var(--clr-primary);
  margin-left: 20px;
  background-color: var(--clr-primary);
}
.button-profile:hover {
  border-color: var(--clr-secondary);
  background-color: var(--clr-secondary);
}
.songname {
  margin-right: 20px;
}
.audio-player-profile {
  display: flex;
  width: 50%;
}
.social-media {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}