# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
orbs:
  # Declare a dependency on the welcome-orb


# Orchestrate or schedule a set of jobs
workflows:
  # Name the workflow "welcome"
  test-deploy:
    # Run the welcome/run job in its own container
    jobs:
      - test

jobs:
  test:
    docker:
      - image: cimg/node:10.24.1
    steps:
      - checkout
      - run:
          name: Install nvm
          command: |
            curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.38.0/install.sh | bash
            echo 'export NVM_DIR=$HOME/.nvm' >> $BASH_ENV
            echo 'source $NVM_DIR/nvm.sh' >> $BASH_ENV
      - run:
          name: Install latest node
          command: nvm install node --reinstall-packages-from=node
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Update PATH and Define Environment Variable at Runtime
          command: |
            echo 'const REACT_APP_FIREBASE_API_KEY="${REACT_APP_FIREBASE_API_KEY}";' >> authKey.js
            echo 'const REACT_APP_FIREBASE_AUTH_DOMAIN="${REACT_APP_FIREBASE_AUTH_DOMAIN}";' >> authKey.js
            echo 'const REACT_APP_FIREBASE_PROJECT_ID="${REACT_APP_FIREBASE_PROJECT_ID}";' >> authKey.js
            echo 'const REACT_APP_FIREBASE_STORAGE_BUCKET="${REACT_APP_FIREBASE_STORAGE_BUCKET}";' >> authKey.js
            echo 'const REACT_APP_FIREBASE_MESSAGING_SENDER_ID="${REACT_APP_FIREBASE_MESSAGING_SENDER_ID}";' >> authKey.js
            echo 'const REACT_APP_FIREBASE_APP_ID="${REACT_APP_FIREBASE_APP_ID}";' >> authKey.js
            echo 'module.exports = {' >> authKey.js
            echo '  REACT_APP_FIREBASE_API_KEY,' >> authKey.js
            echo '  REACT_APP_FIREBASE_AUTH_DOMAIN,' >> authKey.js
            echo '  REACT_APP_FIREBASE_PROJECT_ID,' >> authKey.js
            echo '  REACT_APP_FIREBASE_STORAGE_BUCKET,' >> authKey.js
            echo '  REACT_APP_FIREBASE_MESSAGING_SENDER_ID,' >> authKey.js
            echo '  REACT_APP_FIREBASE_APP_ID' >> authKey.js
            echo '}' >> authKey.js
      - run:
          name: Run Tests
          command: npm run test
