.feeds-overlay {
  height: 95vh;
  overflow: hidden;
  overflow-y: scroll;
}

.feed-list-item {
  width: 80%;
  border-radius: 20px;
  padding: 40px;
  margin: 20px;
  background-color: var(--clr-three);
}

.feed-list-item-wrapper {
  display: flex;
  align-items: center;
}

.user-image {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.feed-username {
  display: flex;
  width: 10%;
}

.username-link {
  color: #FFFFFF;
}

.username-link:hover {
  color: var(--clr-secondary);
}

.feed-songname {
  display: flex;
  width: 20%;
}

.audio-player {
  display: flex;
  width: 30%;
}

.social-media-share {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}