.feeds-overlay {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

/* .feed-list {
  margin-top: 75px;
  display: flex;
} */

.feed-list-item {
  width: 80%;
  border-radius: 20px;
  padding: 40px;
  margin: 20px auto 20px auto;
  background-color: var(--clr-three);
}

.feed-list-item-wrapper {
  display: flex;
  align-items: center;
}

.user-image {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.feed-username {
  padding-left: 5px;
  width: 10%;
}

.username-link {
  color: #FFFFFF;
}

.username-link:hover {
  color: var(--clr-secondary);
}

.feed-songname {
  padding-left: 10px;
  width: 20%;
}

.audio-player {
  display: flex;
  width: 50%;
}

.social-media-share {
  margin-left: 50%
}