.global {
  --clr-primary: #2a2b5c;
  --clr-secondary: #7ed858;
  --clr-three: #6a7892;
  --clr-four: #5e8479;
  --clr-border: #d4fce4;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #2a2b5c;
}

.light {
  --clr-primary: #6FB559;
  --clr-secondary: #D4FCE4;
  --clr-three:  #4547b8;
  --clr-four: rgb(144, 164, 174);
  --clr-border: #0C646C;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  background-color: #FFF;
}