html {
  background-color: var(--clr-primary);
}

.workstation-ctr {
  background: rgba(33, 37, 41, 1);
  background: linear-gradient(180deg, rgba(94, 94, 94, 1) 0%, rgba(33, 37, 41, 1) 100%);
  display: flex;
  flex-flow: column;
  overflow: hidden;
  overflow-y: scroll;
  height: 100vh;
  padding-top: 73px;
}

.recorder-ctr {
  padding: 25px;
  display: flex;
  justify-content: center;
}

.recorder {
  margin-bottom: 2em;
}

.recorder-btn-viz {
  display: flex;
}

.record-btn-ctr {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: auto;
}

.record-btn {
  width: 64px;
  height: 64px;
  border: 12px solid #000;
  border-radius: 32px;
  background-color: #c90000;
  margin: auto;
}

.record-label {
  text-align: center;
  font-size: 24px;
}

.audio-player-work {
  align-self: center;
  width: 100%;
}

.import-ctr {
  display: flex;
  justify-content: center;
  padding: 0px 25px;
  font-size: 20px;
}

.master-player-ctr {
  background-color: #6a7892;
  border-radius: 20px;
  padding: 15px;
  width: 40%;
  margin: 25px auto;
  min-width: 450px;
  max-width: 650px;
}

.master-player-controls {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.master-play-btn {
  border: 2px solid #2a2b5c;
  background-color: #d4fce4;
  border-radius: 50px;
}

.master-play-btn:hover {
  background-color: #7ed858;
}

.master-play-icon {
  width: 32px;
  height: 48px;
  border-top: 24px solid transparent;
  border-left: 36px solid #2a2b5c;
  border-bottom: 24px solid transparent;
  margin: 24px;
  transform: translate(4px, 0px);
}

.master-pause-btn {
  border: 2px solid #2a2b5c;
  background-color: #d4fce4;
  border-radius: 50px;
}

.master-pause-btn:hover {
  background-color: #7ed858;
}

.master-pause-icon {
  width: 36px;
  height: 48px;
  border-right: 12px solid #2a2b5c;
  border-left: 12px solid #2a2b5c;
  margin: 24px;
}

.master-rewind-btn {
  display: flex;
  justify-content: center;
  margin: auto 0px;
  padding: 8px 24px;
  border-color: var#2a2b5c;
}

.master-rewind-icon {
  width: 18px;
  height: 24px;
  border-top: 12px solid transparent;
  border-right: 18px solid #2a2b5c;
  ;
  border-bottom: 12px solid transparent;
}

.master-ff-btn {
  display: flex;
  justify-content: center;
  margin: auto 0px;
  padding: 8px 24px;
  border-color: #2a2b5c;
}

.master-ff-icon {
  width: 18px;
  height: 24px;
  border-top: 12px solid transparent;
  border-left: 18px solid #2a2b5c;
  border-bottom: 12px solid transparent;
}

.no-audio-msg {
  display: flex;
  justify-content: center;
  height: 30px;
}

.seekTime-ctr {
  display: flex;
  justify-content: center;
}

.seekTime-box {
  background-color: #000;
  width: 250px;
  padding: 0px 40px;
}

.seekTime {
  font-size: 32px;
  color: #d4fce4;
  transform: translate(-20px, 0px);
  font-family: monospace;
}

.export-song-title-message {
  text-align: center;
}

.export-song-title {
  font-size: x-large;
}

.combine-btn {
  margin: auto;
  height: 30px;
  width: 100px;
  border-radius: 20px;
}

.export {
  margin: auto;
  display: flex;
  flex-flow: column;
  padding: 35px;
}

.export-form-label {
  font-size: 20px;
  padding: 5px;
}

.export-btn {
  margin: auto;
  height: 30px;
  width: 150px;
  border-radius: 20px;
}

.audio-react-recorder__canvas {
  background-color: #c8c8c8;
  max-width: 100%;
  margin: 10px;
}

.workstation-col-1-3 {
  width: 33%;
  padding: 10px;
  margin: auto;
}

.workstation-col-2-3 {
  width: 33%;
  margin: 10px;
}

.workstation-col-3-3 {
  width: 33%;
  margin: auto;
  padding: 10px;
}