html {
  background-color: rgba(33,37,41,1);
}

.workstation-ctr {
  background: rgba(33,37,41,1);
  background: linear-gradient(180deg, rgba(94,94,94,1) 0%, rgba(33,37,41,1) 100%);
  display: flex;
  flex-flow: column;
}

.recorder-ctr {
  padding: 25px;
  display: flex;
  justify-content: center;
}

.recorder {
  margin-bottom: 2em;
}

.recorder-btn-viz {
  display: flex;
}

.record-btn-ctr {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 8%;
  margin-right: 24%;
}

.record-btn {
  width: 64px;
  height: 64px;
  border: 12px solid #000;
  border-radius: 32px;
  background-color: #c90000;
}

.record-label {
  text-align: center;
  font-size: 24px;
}

.audio-player {
  width: 25%;
  align-self: center;
  margin-left: 10%;
}

.import-ctr {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin-left: 6%;
  font-size: 20px;
}

#fileItem {
  margin: auto;
  margin-left: 1%;
}

.master-player-ctr {
  background-color: var(--clr-three);
  border-radius: 20px;
  padding: 15px;
  width: 40%;
  height: 20%;
  margin: 25px auto;
  min-width: 450px;
  max-width: 650px;
}

.master-player-controls {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.master-play-btn {
  border: 2px solid var(--clr-primary);
  background-color: var(--clr-border);
  border-radius: 50px;
}

.master-play-btn:hover {
  background-color: var(--clr-secondary);
}

.master-play-icon {
  width: 32px;
  height: 48px;
  border-top: 24px solid transparent;
  border-left: 36px solid var(--clr-primary);
  border-bottom: 24px solid transparent;
  margin: 24px;
  transform: translate(4px, 0px);
}

.master-pause-btn {
  border: 2px solid var(--clr-primary);
  background-color: var(--clr-border);
  border-radius: 50px;
}

.master-pause-btn:hover {
  background-color: var(--clr-secondary);
}

.master-pause-icon {
  width: 36px;
  height: 48px;
  border-right: 12px solid var(--clr-primary);
  border-left: 12px solid var(--clr-primary);
  margin: 24px;
}

.master-rewind-btn {
  display: flex;
  justify-content: center;
  margin: auto 0px;
  padding: 8px 24px;
  border-color: var(--clr-primary);
}

.master-rewind-icon {
  width: 18px;
  height: 24px;
  border-top: 12px solid transparent;
  border-right: 18px solid var(--clr-primary);;
  border-bottom: 12px solid transparent;
}

.master-ff-btn {
  display: flex;
  justify-content: center;
  margin: auto 0px;
  padding: 8px 24px;
  border-color: var(--clr-primary);
}

.master-ff-icon {
  width: 18px;
  height: 24px;
  border-top: 12px solid transparent;
  border-left: 18px solid var(--clr-primary);
  border-bottom: 12px solid transparent;
}

.no-audio-msg {
  display: flex;
  justify-content: center;
  height: 30px;
}

.seekTime-ctr {
  display: flex;
  justify-content: center;
}

.seekTime-box {
  background-color: #000;
  width: 250px;
  padding: 0px 40px;
}

.seekTime {
  font-size: 32px;
  color: var(--clr-border);
  transform: translate(-20px, 0px);
  font-family: monospace;
}

.combine-btn {
  margin: auto;
  height: 30px;
  width: 100px;
  border-radius: 20px;
}

.export {
  margin: auto;
  display: flex;
  flex-flow: column;
  padding: 35px;
}
.export-form-label {
  font-size: 20px;
  padding: 5px;
}

.export-btn {
  margin: auto;
  height: 30px;
  width: 150px;
  border-radius: 20px;
}

#import-audio-el {
  width: 27%;
  margin-right: 1%;
}